<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Tuneflix">

    <application
        android:allowBackup="true"
        android:icon="@drawable/second"
        android:label="Tuneflix"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/second"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tuneflix.">
        <activity android:name="com.example.Tuneflix.MusicPlayerActivity"></activity>
        <activity android:name="com.example.Tuneflix.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>